<%= render partial: 'cocktails/navbar' %>

<div class="container">
  <h1 style="text-align: left"><%= @cocktail.name %></h1>
  <div class="flex_show">
  <table class="table table-hover col-md-7" style="width:300">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <% @cocktail.doses.each do |d| %>
      <tr>
        <th scope="col"><%= d.description %></th>
        <th scope="col"><%= d.ingredient.name %></th>
        <th scope="col"><%= link_to "Delete", dose_path(d.id), method: :delete %></th>
        <% end %>
      </tr>
    </tbody>
  </table>



    <div class="ingredient_form col-md-5">
      <h4>Add an ingredient</h4>

      <%= simple_form_for([@cocktail, @dose]) do |r| %>
      <%=  r.association :ingredient, collection: Ingredient.all.order(:name), prompt: "Choose an ingredient" %>
      <%=  r.input :description %>
      <%=  r.submit "Shake it", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>
